.whole__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home {
    max-width: 100vw;
    padding: 15px 23px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.middle__card {
    padding: 10px 30px;
}

.middle__card>h3 {
    margin-bottom: 15px;
}

.news__card {
    width: 350px;
    height: fit-content;
    border-radius: 20px 20px 20px 20px;
    margin: 15px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

}

.upper__card>img {
    width: 350px;
    min-height: 200px;
    border-radius: 20px 20px 0 0;
}

.lower__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

.lower__card>button {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
    color: red;
}

.page-num {
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    color: #a855f7;
}

.page-num:hover {
    background-color: #a855f7;
    color: black;
}

.active {
    background-color: rgb(40, 0, 66);
    color: white;
}

.prevName {
    background-color: #84cc16;
    color: black;
    padding: 6px 8px;
    /* border-radius: 50%; */
    /* padding: 5px; */
}